<div class="container" [ngClass]="{ overlay: loading }">
  <div class="overlay-spinner" *ngIf="loading">
    <mat-progress-spinner
      [diameter]="100"
      color="primary"
      [value]="progressPercentage"
    ></mat-progress-spinner>
    <p class="text-center position-absolute mt-3">
      {{ currentFileName }}
    </p>
  </div>
  <div class="center">
    <app-drag-and-drop-box
      (emitDropFiles)="handleFilesDropped($event)"
      (emitDropText)="handleTextDropped($event)"
    >
      <h3>Drop your audio files here</h3>
      <hr class="my-4" />
      <p>
        Dropped files will stay within your local browser. They will not be
        uploaded anywhere else.
      </p>
    </app-drag-and-drop-box>

    <app-exact-matches-table [tracks]="exactMatches"></app-exact-matches-table>
    <app-multiple-results-table
      [tracks]="multipleResults"
    ></app-multiple-results-table>
    <app-no-results-table [tags]="noResults"></app-no-results-table>
  </div>
</div>
