<div class="container">
  <div class="center">
    <app-drag-and-drop-box
      (emitDropFiles)="handleFilesDropped($event)"
      (emitDropText)="handleTextDropped($event)"
    >
      <h3>Drop your audio files here</h3>
      <hr class="my-4" />
      <p>
        Dropped files will stay within your local browser. They will not be
        uploaded anywhere else.
      </p>
    </app-drag-and-drop-box>

    <h2 *ngIf="exactMatches.length > 0">Exact matches</h2>
    <table *ngIf="exactMatches.length > 0" class="table">
      <tr>
        <td>Title</td>
        <td>Album</td>
        <td>Artists</td>
        <td>Url</td>
      </tr>
      <tr *ngFor="let track of exactMatches">
        <td>{{ track.title }}</td>
        <td>{{ track.album }}</td>
        <td>{{ track.artistNames.join(", ") }}</td>
        <a href="{{ track.url }}" target="_blank">Link</a>
      </tr>
    </table>

    <h2 *ngIf="multipleResults.length > 0">Multiple results</h2>
    <table *ngIf="multipleResults.length > 0" class="table">
      <tr>
        <td>Title</td>
        <td>Album</td>
        <td>Artists</td>
        <td>Url</td>
      </tr>
      <tr *ngFor="let track of multipleResults">
        <td>{{ track.title }}</td>
        <td>{{ track.album }}</td>
        <td>{{ track.artistNames.join(", ") }}</td>
        <a href="{{ track.url }}" target="_blank">Link</a>
      </tr>
    </table>

    <h2 *ngIf="noResults.length > 0">No results</h2>
    <table *ngIf="noResults.length > 0" class="table">
      <tr>
        <td>Title</td>
        <td>Album</td>
        <td>Artist</td>
        <td>Year</td>
      </tr>
      <tr *ngFor="let tag of noResults">
        <td>{{ tag.title }}</td>
        <td>{{ tag.album }}</td>
        <td>{{ tag.artist }}</td>
        <td>{{ tag.year }}</td>
      </tr>
    </table>
  </div>
</div>
