<div class="container">
  <div class="center">
    <app-drag-and-drop-box
      (emitDropFiles)="handleFilesDropped($event)"
      (emitDropText)="handleTextDropped($event)"
    >
      <h3>Drop your audio files here</h3>
      <hr class="my-4" />
      <p>
        Dropped files will stay within your local browser. They will not be
        uploaded anywhere else.
      </p>
    </app-drag-and-drop-box>

    <div *ngFor="let track of results">
      <h2>File information</h2>
      <table class="table">
        <tr>
          <td class="text-right">Title</td>
          <td>{{ track.title }}</td>
        </tr>
        <tr>
          <td class="text-right">Album</td>
          <td>{{ track.album }}</td>
        </tr>
        <tr>
          <td class="text-right">Artists</td>
          <td>{{ track.artists }}</td>
        </tr>
        <tr>
          <td class="text-right">Url</td>
          <td>
            <a href="{{ track.url }}" target="_blank">Open in Spotify</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
