<h1 mat-dialog-title>Playlists</h1>
<div mat-dialog-content>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Url</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="clickable-row"
        *ngFor="let playlist of data.playlists; let i = index"
        (click)="selectRow(playlist)"
        [ngClass]="{ 'table-active': isActive(playlist) }"
      >
        <td>{{ playlist.name }}</td>
        <td><a href="{{ playlist.url }}" target="_blank">Link</a></td>
      </tr>
    </tbody>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button (click)="onAdd(selectedPlaylists)">Add to selected</button>
</div>
